<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="favicon.ico" alt="Bootstrap" width="50" height="50">

    <a class="navbar-brand" href="#">Notea</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        <a class="nav-link" routerLink="/new">Nueva nota</a>
        <a class="nav-link" routerLink="/about">Acerca de</a>
        <li class="nav-item dropdown" *ngIf="this.loginS.isAuth">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cuenta
          </a>
          <ul class="dropdown-menu">
            <li><span style="padding:10px;">{{this.loginS.isAuth}}</span></li>
            <li><span style="padding:10px;">{{this.loginS.isAuth}}</span></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </div>
    </div>

    <!-- Botón con ícono de luna -->
    <button class="btn " (click)="toggleDarkMode()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
      </svg>
    </button>
  </div>
</nav>
