<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="submit()" class="questionnaire-form">
        <div class="form-group">
          <label>Título</label>
          <input #title type="text" class="form-control" formControlName="title" placeholder="Título">
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
        </div>
        <input type="hidden" formControlName="id">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
      </form>
    </div>
  </div>
</div>