<!--<p>José Luis</p>
<p>{{mensaje}}</p>
<img [src]="src" alt="Cargando">
<div class="container">
    <div class="card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="src" class="img-fluid rounded-start" alt="Card title">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">José Luis</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">{{mensaje}}</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

-->
<!-- Button in the end -->

<div class="header">
   <h2>Sobre mi</h2>
</div>


<div class="service">
    <h5>¿QUÉ HAGO?</h5>
    <h2>Estudios</h2>
    <p>Esto es una aplicacion web sobre la creacion de notas que se guarda en cada usuario</p>
</div>


<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">José Luis</h5>
                    <p class="card-text">Hola, soy José Luis, tengo 19 años. Nací y crecí en Puente Genil, Córdoba, donde desarrollé mi pasión por la programación. Desde joven, he sentido una profunda conexión con los ordenadores y quiero ser creativo con lo que hago, lo cual ha influido en mi desarrollo personal y profesional.</p>
                    <p class="card-text"><small class="text-muted">{{mensaje}}</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img [src]="src" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

